<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online Hangman game</title>
  </head>
  <body>
    <%= display %> <br>
    <%= message %> <br>
     <form method="get">
       <input type="text" name="letter">
       <input type="submit"  value="Try Letter">
     </form>
  </body>
</html>
