<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online Hangman game</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="display">
    <%= display %> <br>
    </div>
    <div class="message">
    <%= message %> <br>
    <%= yield %>
    </div>
  </body>
</html>
